In [1]:
!pip install flask pandas scikit-learn joblib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in c:\programdata\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\programdata\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (1.6.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nisha\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Requirement already satisfied: six>=1.5 in c:\users\nisha\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
pip install flask gunicorn joblib numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in c:\programdata\anaconda3\lib\site-packages (3.0.3)
Collecting gunicorn
  Downloading gunicorn-23.0.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\programdata\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\programdata\anaconda3\lib\site-packages (from flask) (1.6.2)
Requirement already satisfied: packaging in c:\users\nisha\appdata\roaming\python\python312\site-packages (from gunicorn) (23.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Downloading gunicorn-23.0.0-py3-none-any.whl (85 kB)
   ---------------------------------------- 0.0/85.0 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/85.0 kB ? eta -:--:--
   ------------------- -------------------- 41.0/85.0 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 85.0/85.0 kB 958.8 kB/s eta 0:00:00
Installing collected packages: gunicorn
Successfully installed gunicorn-23.0.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script gunicorn.exe is installed in 'C:\Users\nisha\AppData\Roaming\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [5]:
import pandas as pd

df = pd.read_csv("Liver_Disease_data.csv") 
df.head()

,category,age,sex,albumin,alkaline_phosphatase,alanine_aminotransferase,aspartate_aminotransferase,bilirubin,cholinesterase,cholesterol,creatinine,gamma_glutamyl_transferase,protein
0,no_disease,32.0,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,no_disease,32.0,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,no_disease,32.0,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,no_disease,32.0,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,no_disease,32.0,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100202 entries, 0 to 100201
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   category                    100202 non-null  object
 1   age                         100202 non-null  float64
 2   sex                         100202 non-null  object
 3   albumin                     100080 non-null  float64
 4   alkaline_phosphatase        97344 non-null   float64
 5   alanine_aminotransferase    100024 non-null  float64
 6   aspartate_aminotransferase  100202 non-null  float64
 7   bilirubin                   100202 non-null  float64
 8   cholinesterase              100202 non-null  float64
 9   cholesterol                 98657 non-null   float64
 10  creatinine                  100202 non-null  float64
 11  gamma_glutamyl_transferase  100202 non-null  float64
 12  protein                     100059 non-null  float64
dtypes: float64(11), object(2)
memory usage: 9.9+ MB

In [14]:
import pandas as pd

df = pd.read_csv("Liver_Disease_data.csv")  # Ensure the dataset is in the same folder

# Identify numeric columns
numeric_cols = df.select_dtypes(include=['number']).columns

# Fill missing values only for numeric columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Convert categorical values
df['sex'] = df['sex'].map({'m': 1, 'f': 0})


# Check if 'no_disease' is in a column, handle it separately
if 'Disease_Status' in df.columns:  
    df['Disease_Status'] = df['Disease_Status'].map({'no_disease': 0, 'disease': 1})

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib

# Define features and target
X = df.drop(columns=["category"])  # Drop the actual disease column
y = df["category"]  # Use "category" as the target variable


# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Save model
joblib.dump(model, "model.pkl")

print("Model saved as model.pkl")

Model saved as model.pkl